footer {
	width: 100%;
	background:$tiara;
	.container{
		display: flex;
		justify-content:space-between;
		ul{
			padding:18px;
		}	
		form{
			padding: 18px;
			input{
				border:none;
			}
		}
	}
}