ul.menu {
	margin: 0;
	padding: 50px;
	display: flex;
	justify-content:space-around;	
	li {
		display: inline;
		margin-right: 10px;
		a {
			padding: 10px;
			color: $almostblack;
			letter-spacing: 5px;
			font-weight: 300;
			&:hover{
				color: $saffron;
			}
		}
	}
}

// header
header{
	.container{
		width: 100%;
	}
	ul{
		#menu-item-1530{
			margin-right: 30%;
		}
	}
	.logoWrapper{
		position: absolute;
		width:20%;
		left:40%;
		h5{
			margin:0;
			font-family: $lato;
			letter-spacing: 5px;
			font-weight: 300;
		}
		.logo{
			display: flex;
			flex-direction:column;
			.logoImg,
			.logoWords{
				display: inline-block;
				text-align: center;
			}
		}		
	}
}

//hamburger button
.nav__menuBtn{
	width: 50px;
	height: 50px;
	cursor: pointer;
	.nav__menuBtn_bar{
		width: 22px;
		height: 3px;
		background: $almostblack;
		position: relative;
		margin: 0 auto;
		transition: all 0.35s;
		&:before,
		&:after{
			width: 22px;
			height: 3px;
			background: $almostblack;
			content: '';
			position: absolute;
			transition: all 0.35s;
		}
		&:before{
			top: -7px;
		}
		&:after{
			top: 7px;
		}
	}

}
.container{
	input[type=checkbox]{
	  display:none;
	}
	input[type=checkbox]:checked ~ label .nav__menuBtn_bar{
		background-color:transparent,
	}
	input[type=checkbox]:checked ~ label .nav__menuBtn_bar:before{
		top: 0;
		transform: rotate(45deg);
	}
	input[type=checkbox]:checked ~ label .nav__menuBtn_bar:after{
		top: 0;
		transform: rotate(-45deg);
	}
	
}
